/* ROOT -------------------------------------------------------*/
:root {
  --gold: #F2C491;
  --lightgold: #F5D3AD;
  --christine: #D6661A;
  --lightchristine: #E08C53;
  --roseofsharon: #BA441A;
  --lightroseofsharon:#E08C53;
  --hippieblue: #2C8396;
  --lighthippieblue: #61A2B0;
  --taxbreak: #426B6A;
  --lighttaxbreak: #71908F;
  --mikado: #37230F;
  --lightmikado: #695A4B;
  --white: #FFFFFF;
  --transparent: #00000000;
  --darktransparent: #14292d50;
  --darkgold: #916e47;
  --darkchristine: #934613;
  --darkroseofsharon: #843112;
  --darkhippieblue: #1b5e6d;
  --darktaxbreak: #274847;
  --darkmikado: #150c04;
  --black: #000000;

  font-family: -apple-system, Segoe UI, Roboto;
}
/* ROOT -------------------------------------------------------*/

/* THEME LIGHT -------------------------------------------------------*/
  body {background-color: var(--lightgold); color: var(--mikado);}
  .BentoGrid {background-color: var(--mikado)}
  .Bento {background-color: var(--christine); &:hover {outline: 4px solid var(--taxbreak);}}
  .Transparent:hover {outline: none;}

  .Me {color: var(--taxbreak);}
  nav {background-color: var(--mikado); color: var(--white);}

  .Button, .Switch input {
    background-color: var(--transparent); color: var(--white); outline: 2px solid var(--white);
  }

  .Switch input {
    &:checked {background-color: var(--darktransparent);}
    &:checked::before {background-color: var(--white);}
    &::before {background-color: var(--white);}
  }

  .Button {
    &:hover {background-color: var(--darktransparent); color: var(--white);}
  }
/* THEME LIGHT -------------------------------------------------------*/

/* THEME DARK -------------------------------------------------------*/
[data-theme="dark"] {
  body {background-color: var(--darkmikado); color: var(--white);}
  .BentoGrid {background-color: var(--darkmikado)}
  .Bento {background-color: var(--mikado); &:hover {outline: 4px solid var(--gold);}}
  .Transparent:hover {outline: none;}

  .Me {color: var(--gold);}
  nav {background-color: var(--mikado); color: var(--white);}

  .Button, .Switch input {
    background-color: var(--transparent); color: var(--white); outline: 2px solid var(--christine);
  }

  .Switch input {
    &:checked {background-color: var(--darktransparent);}
    &:checked::before {background-color: var(--christine);}
  }

  .Button {
    &:hover {background-color: var(--darktransparent); color: var(--white);}
  }
}
/* THEME DARK -------------------------------------------------------*/